
            <div class="form-header">

              <input #myInput 
              class="au-input au-input-xl" 
              type="text" 
              placeholder="Search for products ..." 
              (keyup.Enter)="doSearch(myInput.value)"/>

              <button (click)="doSearch(myInput.value)" class="au-btn-submit" style="background-color: #4279a3; border-color: #4279a3;" onmouseover="this.style.backgroundColor='#3385c6';" onmouseout="this.style.backgroundColor='#4279a3';">
                Search
              </button>

            </div>